body{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:darkslategray;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #c8c8c8;
}
header{
    background-color: #FFDD33;
    /*bordes*/
    border-radius: 20px 20px 20px 20px;
    /*sombreado*/
    box-shadow: 3px -4px 17px 9px rgba(0,0,0,0.21);
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}
footer i{
    color: black;
    width: 500px;
}
footer{
    /* position: absolute;
    bottom: 0; */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0.4em;
    border-radius: 10px 10px 10px 10px;
    background-color: gray;
    
}
#container{
    width: 80%;
    height: 100%;
    bottom: 0;
    padding: 1em;
    text-align: left; 
    border: 1px solid #bababa;
    margin: 0 auto;   
    background-color: white;
}
#post{
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    font-weight: bold;
    margin: 0;
    padding: 1em;
    text-align: center;
    
}
